*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    width: 100vw;
    height: 100vh;
    background-color: #0e1111;
}
.container{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "one two three";
    background-color: #0e1111;
}
video{
    height: 100vh;
    justify-self: center;
    pointer-events: none;
}
.active{
    transform: scale(1);
    grid-area: one;
    top:0;
}
.inactive{
    transform: scale(0);
    grid-area: one;
}